*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Open-Sans", sans-serif;
  font-size: 16px;
}

a, a:visited {
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 50px;
}

@media screen and (min-width: 1024px) {
  header {
    margin-bottom: 100px;
  }
}

header img {
  width: 120px;
}

@media screen and (min-width: 1024px) {
  header img {
    width: 200px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  footer {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

footer > a {
  margin-right: 16px;
}

footer > a:last-child {
  margin-right: 0px;
}

footer i.fab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #ffffff;
}

footer i.fab:hover {
  color: #f15bb5;
}

body {
  padding: 40px;
  background-color: #674bb1;
  background-image: url("/imgs/bg-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  body {
    padding: 60px 80px 40px 80px;
    background-image: url("/imgs/bg-desktop.svg");
  }
}

main {
  margin-bottom: 60px;
}

@media screen and (min-width: 1024px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    margin-bottom: 26px;
  }
}

.heroImage {
  margin-bottom: 50px;
}

@media screen and (mid-width: 1024px) {
  .heroImage {
    margin-bottom: 0px;
  }
}

.heroImage img {
  width: 100%;
}

.heroText {
  line-height: 1.75;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .heroText {
    padding-left: 60px;
    text-align: left;
  }
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 32px;
    line-height: 1.5;
  }
}

a.cta {
  display: inline-block;
  position: relative;
  min-width: 200px;
  margin-top: 26px;
  padding: 16px;
  background-color: #ffffff;
  color: #674bb1;
  line-height: 1;
  text-align: center;
  border-radius: 40px;
  -webkit-box-shadow: 5px 5px 10px #3d2d69;
          box-shadow: 5px 5px 10px #3d2d69;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}

@media screen and (min-width: 1024px) {
  a.cta {
    padding: 20px 66px;
  }
}

a.cta:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #f15bb5;
}
/*# sourceMappingURL=style.css.map */